<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contacto</title>
        <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style_lab5.css">
    </head>    
    <body>
        <%- include('includes/head') %>  <!-- Se incluye el header -->
        <h1><strong>Frase de CIceron</strong></h1>
        <h2><strong>Non nobis solum nati sumus; ortusque nostri partem patria vindicat, partem amici.</strong></h2>
        <h2>No hemos nacido solo para nosotros mismos; nuestra patria reclama una parte de nuestro nacimiento, y nuestros amigos otra parte.</h2>
        <%- include('includes/navbar') %>     <!-- Se incluye la barra de navegación -->
       


        <%- include('includes/footer') %>  <!-- Se incluye el footer -->
    </body>