<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validador de Contraseña</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <%- include('includes/head') %>  <!-- Se incluye el header -->

    <!-- <%- include('includes/navbar.ejs') %>-->
    <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    <%- include('includes/navbar.duelistas.ejs') %>
    
    <%- include('includes/footer') %>  <!-- Se incluye el footer -->
</body>
</html>