<!DOCTYPE html>
<html>
</head>
<body>
    <header>
    <div class="min-h-screen flex flex-col">
        <nav class="navbar flex justify-between items-center">
            <div class="text-xl font-bold">Duelistas App</div>

        </nav>
    </div>
    </header>
    <div class="links">
        <a href="/duelistas" class="hover:text-blue-500">Duelistas</a>
        <a href="/jugador/login" class="hover:text-blue-500">Login</a>
    </div>
    <link rel="stylesheet" type="text/css" href="style.css">

