<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error 404</title>
        <style>
            @font-face {
                font-family: 'Squealer';
                src: url('squealer.regular.ttf') format('truetype'); 
                font-weight: normal;
                font-style: normal;
            }

            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                text-align: center;
                font-family: 'Squealer';
                font-size: 2em;
                margin: 0;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        </style>
    </head>    
    <body>
        <h1><strong>Error 404</strong></h1>
        <h1><strong>Página No Encontrada</strong></h1>
        <img src="Yamiyugitriste.jpg" alt="imagen de error">
    </body>
</html>
