  <%- include('includes/_header.ejs') %>
  <style>
    img {
      width: 25%; /* 3/4 del tama침o original */
      height: auto; /* Mantiene la proporci칩n */
    }
  </style>
  
  <img src="Yu-Gi-Oh21_Duel_Links.jpg" alt="imagen inicio">

  <div>
    <h1>Preguntas:</h1>
    <h2>Ventajas de MVS</h2>
    <h3>Separaci칩n de responsabilidades en modelo, vista y controlador</h3>
    <h3>Facilita el trabajo en equipo</h3>
    <h3>Mejor mntenimiento en proyectos grandes</h3>
    <h2>Desventajas de MVS</h2>
    <h3>Complejidad en proyectos peque침os, para los cuales no ahce falta un bacl-end tan complejo</h3>
    <h3>Curva de aprendizaje</h3>
    <h3>Mayor tiempo de desarrollo inicial</h3>

</div>

    <%- include('includes/_footer.ejs') %>
    <script src="./public/introjs.js"></script>
    