<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error 404</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap" rel="stylesheet">
        <style>
            @font-face {
                font-family: "Grenze Gotisch", serif;
                src: url('https://fonts.gstatic.com/s/grenzegotisch/v1/xyz123.woff2') format('woff2');
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }

            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                text-align: center;
                font-family: 'Squealer';
                font-size: 2em;
                margin: 0;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        </style>
    </head>    
    <body>
        <h1><strong>Error 403</strong></h1>
        <h1><strong>Eres un Hereje, No puedes hacer eso!!!!</strong></h1>
        <img src="Inquisicion.png" alt="imagen de error">
    </body>
</html>
