<!DOCTYPE html>
<html>
</head>
    <header>
    <div class="min-h-screen flex flex-col">
        <nav class="navbar flex justify-between items-center">
            <div class="text-xl font-bold">Duelistas App</div>

        </nav>
    </div>
    </header>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/style.css" >


<%- include('includes/_login_from.ejs') %>

<%- include('includes/_footer.ejs') %>