<nav>
    <p><strong>Prueba las siguientes rutas disponibles:</strong></p>
    <ul>
        <li><a href="/">Página principal</a></li>
        <li><a href="/lab5">Respuestas Preguntas</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/Lorem_ipsum">Lorem ipsum</a></li>
        <li><a href="/Ciceron">Frase de Cicerón</a></li>
    </ul>   
</nav>
