<div class="columns">
    <div class="column">
      <form action="/duelistas/agregar" method="POST">
        <label for="nombre" class="label">Nombre del duelista</label>
        <input
          class="input is-primary"
          type="text"
          placeholder="Cheewbaca"
          id="nombre"
          name="nombre"
          required
        />
        <br><br>
        <input type="submit" id="boton_duelista" class="button is-primary" value="Guardar duelista">
      </form>
    </div>
</div>
