<nav>
    <p><strong>Prueba las siguientes rutas disponibles:</strong></p>
    <ul>
        <li><a href="/">Página principal</a></li>
        <li><a href="/duelista">Duelista</a></li>
        <li><a href="/agregar">Agregar Duelista</a></li>
        <li><a href="/mostrar">Mostrar Duelista</a></li>
        <li><a href="/lab5">Respuestas Preguntas</a></li>
    </ul>   
</nav>
